# Binaries
sideap_mid
main
.DS_Store
*.exe
*~
*.zip
*.log
*.tmp
*.dll
*.so
*.dylib
# Test binary, build with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Environment Variables
*.env
!.env

# IDEs & Others
.vscode
.scannerwork
report.xml

# Swagger
swagger/**
!swagger/swagger.json
!swagger/swagger.yml
